Package: setuzuna-q4sz-plymouth
Priority: extra
Section: none
Installed-Size: 66
Maintainer: theasmitkid
Architecture: all
Version: 1.0
Depends: plymouth
Recommends: none
Provides: setuzuna-q4sz-plymouth
Conflicts: none
Replaces: none
Description: Setuzuna Plymouth Theme for Q4OS
Breaks: none
